*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.group {
  width: 50%;
  padding: 30px;
}

.group-title {
  text-align: center;
  margin-bottom: 22px;
  font-size: 20px;
}

.group-body {
  display: flex;
  justify-content: center;
}
.group-body-left {
  margin-right: 15px;
}
.group-body-right {
}

/* swiper 相关的需要定义的宽和高 */
.group.x .group-body-left,
.group.x .group-body-right {
  height: 300px;
}
.group.y .group-body-left,
.group.y .group-body-right {
  height: 200px;
}
.swiper-body, .swiper-thumb.x {
  width: 300px;
}
.group.x .swiper-body {
  height: 70%;
}
.group.y .swiper-body {
  height: 100%;
}
.group.x .swiper-thumb.x {
  height: 30%;
  padding-top: 15px;
}
.group.y .swiper-thumb.y {
  width: 100px;
  height: 100%;
}

/* slide 颜色 */
.swiper-slide:nth-child(1) {
  background-color: #ff8d4b;
}
.swiper-slide:nth-child(2) {
  background-color: #c9ff57;
}
.swiper-slide:nth-child(3) {
  background-color: #a1ffcc;
}
.swiper-slide:nth-child(4) {
  background-color: #74f4ff;
}
.swiper-slide:nth-child(5) {
  background-color: #5bff7e;
}
.swiper-slide:nth-child(6) {
  background-color: #ff42f3;
}
